/* ------------------ Les différentes marges ------------------ */
.marge{
	margin-left : 30px;
}

.marge2{
	margin-left : 30px;
}

/* ------------------ Supprime les puces ------------------ */
li{
	list-style-type: none
}

/* ------------------ Style cadre ------------------ */
.create_user{
	width : 100%;
	height : auto;
	margin: 3% 0 0 3%;
	display: inline-block; 
	float: left;
	border: 1px solid #DDDDDD;
	box-shadow: 0 5px 10px -6px #999999;
}

.form-horizontalCreation label{ /* ------------------ Style Label ------------------ */
	margin-top : 10px;
	padding-left : 80px;
}

.form-horizontalCreation input{ /* ------------------ Style input ------------------ */
	margin-bottom: 20px;
	width : 35%;
}

/* ------------------ Style role ------------------ */
.role{
	margin: 2% 0 0 14%;
}

.role label{
	margin-left: 1%;
}

/* ------------------ Style équipe ------------------ */
.equipe{
	margin: 2% 0 0 14%;
}

.equipe label{
	margin-left: 1%;
}

/* ------------------ Bouton Créer ------------------ */

.form-horizontalCreer {
	margin-top: 10px;
	width : 25%;
	float : right;
}
#creer{
	text-decoration : none;
}

/* ------------------ Recherche dans liste ------------------ */
.form-horizontalRechercheListe{
	width : 60%;
	margin-left : 20%;
	margin-top : 2%;
	margin-bottom : 3%;
}

/* ------------------ Assigner une infrastructure ------------------ */
.effectuer_assignation{
	margin-left : 10%;
	padding-top : 2%;
}

.assigner_infra_liste{
	overflow : auto;
	width : 80%;
	height : 350px;
	margin : 25px 0 20px 150px;
	border: 1px solid #DDDDDD;
	box-shadow: 0 5px 10px -6px #999999;
}

.assigner_infra_liste:hover{
	background-color: #F5F5F5;
}

.assigner_infra_liste p{
	margin-left : 15%;
}
