h3{
	text-align : center;
	margin-top : 5%;
}

/* ------------------ Style cadre principal ------------------ */
.info{
	display: inline-block; 
	float: left;
	overflow : auto;
	width : 80%;
	height : 500px;
	margin-top : 5%;
	border: 1px solid #DDDDDD;
	box-shadow: 0 5px 10px -6px #999999;
}

.info:hover{
	background-color: #F5F5F5;
}

#composant_info{ /* ------------------ Style information ------------------ */
	margin-top: 20px;
}

/* ------------------ Bouton Modifier ------------------ */
#modif_composant{
	text-decoration : none;
}

/* ------------------ Marge ------------------ */
.marge{
	margin-left : 10px;
}
