h3{
	text-align : center;
	margin-top : 5%;
}

/* ------------------ Style cadre principal ------------------ */
.info{
	display: inline-block; 
	float: left;
	border: 1px solid black;
	overflow : auto;
	width : 80%;
	height : 500px;
	border: 1px solid #DDDDDD;
	box-shadow: 0 5px 10px -6px #999999;
}

.info:hover{
	background-color: #F5F5F5;
}

/* ------------------ Style informations ------------------ */
#perimetre_info{
	margin-top: 20px;
}

/* ------------------ Bouton Modifier ------------------ */
#modif_perimetre{
	text-decoration : none;
}

/* ------------------ Marges ------------------ */
.marge{
	margin-left : 10px;
}

.marge2{
	margin-left : 30px;
}

/* ------------------ Supprime les puces ------------------ */
li{
	list-style-type: none
}
